body {
	font-family: 'Shadows Into Light', Arial, sans-serif;
	font-size: 2em;
	text-align: center;
	margin-bottom: 2em;
}

h2 {
	margin-bottom: .5em;
}
h3 {
	margin-top: .5em;
}

.pl_choice {
	cursor: pointer;
	display: inline-block;
	width: 30%;
	margin-bottom: 1em;
}

.tallycols {
	display: inline-block;
	margin: 0 auto;
}

#weapons {
	display: inline-block;
}
#kitten_button {
	opacity: .5;
}

#kitten_button img {
	height: auto;
	width: 50%;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid black;
}

#reset {
	cursor: pointer;	
}

