html {

	position: relative;
	min-height: 100%;
}

#header {
		background-image: url("../img/horiz_border_beardsley.jpg");
		background-repeat: repeat-x;
		height: 100px;
		}

#footer {
	background-image: url("../img/horiz_border_beardsley.jpg");
    height: 100px;
   	background-repeat: repeat-x;
   	position: absolute;
   	left: 0;
   	bottom: 0;
   	width: 100%;
 		}

h1 {
	text-align: center;
	font-family: Georgia, Times, serif;
	font-weight: 
}

body {
	margin: 0 0 100px;
	background-color: silver;
}