html {
	position: relative;
	min-height: 100%;
}

#header {
		background-image: url("../img/horiz_border_beardsley.jpg");
		background-repeat: repeat-x;
		position: relative;
		left: -8px;
		height: 96px;
		width: 100%;
		border-style: solid;
		border-radius: 25px;
		}

img {
	position: fixed;
	top: 0;
	right: 0;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-radius: 25px;

	}

#plain_isolde {
		position: absolute;
		top: 0;
		left: 0;
		height: 96px;

}

h1 {
	text-align: center;
	font-family: Georgia, Times, serif;
	font-weight: 
}

body {
	padding: 0px 8px;
	margin: 0 0 96px;
	background-color: silver;
}

#footer {
	background-image: url("../img/horiz_border_beardsley.jpg");
    height: 96px;
   	background-repeat: repeat-x;
   	position: absolute;
   	left: 0;
   	bottom: 0;
   	width: 100%;
   	border-style: solid;
   	border-radius: 25px;
 		}