#header {
		background-image: url("../img/horiz_border_beardsley.jpg");
		background-repeat: repeat-x;
		height: 100px;
		}

#footer {
	background-image: url("../img/horiz_border_beardsley.jpg");
    position: absolute;
    height: 100px;
    width: 100%;
   	background-repeat: repeat-x;
   	bottom: 0;
   	margin: 8px;

 		}

h1 {
	text-align: center;
	font-family: Georgia, Times, serif;
	font-weight: 
}

body {
	background-color: silver;
}