body {
	padding-top: 50px;
}

section {
	display: inline-block;
	margin-left: 10%;
}

div {
	height: 100px;
	width: 100px;
	display: inline-block;
  	vertical-align: top;
    margin-right: -4px;
}

.thumbnail {
	height: 100px;
	width: 100px;
	background-size: cover;
	background-color: blue;
	cursor: pointer;
}

.thumbnail:hover {
	opacity: .5;
}

.controls {
	background-color: gray;
	width: auto;
	height: auto;
	margin: 15px;
	padding: 15px;
	border: solid 1px black;
	cursor: pointer;
}

#control_pos {
	display: block;
	margin: 50px;
	text-align: center;
}

#mainImg {
	height: 400px;
	width: 610px;
	background-size: cover;
	overflow: hidden;
}

#grid {
  	text-align: left;
  	min-width: 800px;
}

#left_column {
	display: block;
	text-align: left;
	position: absolute;
}

#top_row {
	display: block;
	text-align: left;
	position: relative;
}

#center {
	height: 400px;
	width: 610px;
	text-align: left;
	background-color: black;
	position: relative;
	margin-left: 100px;
	overflow: hidden;
}

#right_column {
 	text-align: left;
 	position: relative;
 	margin-left: -10px;
}

#bottom_row {
	display: block;
	text-align: left;
	position: relative;
}

@media (max-width: 500px) {

	body {
	padding-top: 25px;
	}

	div {
	height: 25px;
	width: 25px;
	margin-right: -4px;
	}
    
    .thumbnail {
		height: 25px;
		width: 25px;
    }

	#center {
		height: 100px;
		width: 150px;
		text-align: left;
		margin-left: 25px;
		margin-right: 0px;
	}

	#mainImg {
		height: 100px;
		width: 150px;
	}

	#right_column {
 		margin-left: -4px;
 		margin-right: 0px;
 		text-align: left;
	}

	#grid {
  		text-align: left;
  		margin-left: auto;
	}

	#top_row {
		display: block;
		text-align: left;
		position: relative;
	}

	#bottom_row {
		display: block;
		text-align: left;
		position: relative;
	}
	
	#control_pos {
		display: block;
		margin: 25px 40px;
		text-align: left;
	}

	.controls {
		background-color: gray;
		font-size: 10px;
		width: auto;
		height: auto;
		margin: 15px 0; /* 0 doesn't need units in css */
		padding: 10px;
		border: solid 1px black;
		cursor: pointer;
	}

}
