section {
	display: inline-block;
	margin-left: 10%;
}

div {
	height: 100px;
	width: 100px;
	background-color: dimgray;
	display: inline-block;
  	vertical-align: top;
    margin-right: -4px;
}

.thumbnail {
	height: 100px;
	width: 100px;
	background-size: cover;
	background-color: blue;
	cursor: pointer;
}

#control_pos {
	display: block;
	margin-top: 25px;
	text-align: center;
}

.controls {
	background-color: gray;
	width: 100px;
	height: 25px;
	margin: 15px;
}

#control_pos {
	display: block;
	margin-top: 25px;
	text-align: center;
}

#mainImg {
	height: 400px;
	width: 610px;
	background-size: cover;
}

#grid {
  	text-align: left;
  	min-width: 800px;
}

#left_column {
	display: block;
	text-align: left;
	position: absolute;
}

#top_row {
	display: block;
	text-align: left;
	position: relative;
}

#center {
	height: 400px;
	width: 610px;
	text-align: left;
	background-color: black;
	position: relative;
	margin-left: 100px;
}

#right_column {
 	text-align: left;
 	position: relative;
 	margin-left: -10px;
}

#bottom_row {
	display: block;
	text-align: left;
	position: relative;
}

@media (max-width: 500px) {

	div {
	height: 25px;
	width: 25px;
	margin-right: -4px;
}
    
    .thumbnail {
		height: 25px;
		width: 25px;
    }

	#center {
		height: 100px;
		width: 150px;
		text-align: left;
		margin-left: 25px;
		margin-right: 0px;
	}

	#mainImg {
		height: 100px;
		width: 150px;
	}

	#right_column {
 		margin-left: -4px;
 		margin-right: 0px;
 		text-align: left;
	}

	#grid {
  		text-align: left;
  		margin-left: auto;
	}

	#top_row {
		display: block;
		text-align: left;
		position: relative;
	}

	#bottom_row {
		display: block;
		text-align: left;
		position: relative;
	}
	
}



      
}