body {
	font-family: 'Lato', 'Geneva', sans-serif;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-left: 50px;
	border-left: 5px solid rgb(216,216,216);
	}

h2 {
	font-size: 2em;
	margin-top: 0px;
	margin-bottom: .4em;
	font-weight: 200;
	}

article {
	margin-top: 2em;
	max-width: 800px;
}

p {
	line-height: 150%;
	color: #383838;
	font-weight: 200;
	}

hr {
	border: 0;
	color: #D8D8D8;
	background-color: #D8D8D8;
	margin-left: 0;
	height: 1px;
	}

p.introduction:first-letter {
	font-size: 600%;
  	float: left;
  	width: 1em;
	color: #D8D8D8;
  	padding-right: .1em;
  	padding-bottom: .2em;
  	padding-top: .2em;
	line-height: 45%;
	font-weight: 200;
  	}

.date {
	color: #D8D8D8;
	font-size: 2em;
	margin-bottom: .2em;
	font-weight: 200;
	}

.faded {
	color: #D8D8D8;
}

.fancyImg {
	width: 800px;
	height: auto;
}

.continue {
	color: #E41B17;
	text-align: right;
	font-weight: 900;
	margin-bottom: 1.4em;
	}

.vertical {
	width: 2px;
	color: #D8D8D8;
  	background-color: #D8D8D8;
	height: 1em;
 	margin: 0px;
  	border: 0px;
	display: inline-block;
	vertical-align: -20%;
	}

#title {
	padding-top: 1.1em;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 3em;
	color: #E41B17;
	font-weight: 300;
	}

#subTitle {
	font-size: 1.5em;
	margin-top: .4em;
	margin-bottom: .75em;
	font-weight: 300;
}

#headerNav a {
	padding-bottom: .1em;  
	padding-left: 0;
	margin-right: .75em;
	font-size: 1.3em;
	text-decoration: none;
	border-bottom: 1px solid #D8D8D8;
	font-weight: 200;
	}

#mainContent {
  	margin-top: 50px;
  	}

#footer {
	margin-top: 3.4em;
	padding-bottom: 4.5em;
}

#footerNav a {
	padding-left: 0;
	padding-right: .25em;
	text-decoration: none;
	color: #E41B17;
	font-weight: 300;
	}

#copyrightLine {
	color: #D8D8D8;
	font-weight: 300;
	}
	
	//this is really great css.  Really well origanized, and shows a strong understaning of what we've done so far!
