body {
	font-family: 'Lato Hairline', Helvetica, sans-serif;
	font-size: 18px;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 50px;
	border-left: 5px solid rgb(216,216,216);
	font-weight: 100;
	}

h2 {
	font-size: 2em;
	margin-top: 0px;
	margin-bottom: .4em;
	font-weight: 100;
	color: #383838;
	}

article {
	margin-top: 2em;
	max-width: 900px;
}

p {
	line-height: 150%;
	color: #383838;
	}

hr {
	border-style: solid;
	color: #D8D8D8;
	margin-left: 0;
	}

p.introduction:first-letter {
	font-size: 600%;
  	float: left;
  	width: 1em;
	color: #D8D8D8;
  	padding-right: .1em;
  	padding-bottom: .2em;
  	padding-top: .2em;
	line-height: 55%;
  	}

.date {
	color: #D8D8D8;
	font-size: 2em;
	margin-bottom: .4em;
	font-weight: 100;
	}

.faded {
	color: #D8D8D8;
}

.continue {
	color: #E41B17;
	text-align: right;
	font-weight: 700;
	}

.vertical {
	width: 2px;
	color: #D8D8D8;
  	background-color: #D8D8D8;
	height: 1em;
 	margin: 0px;
  	border: 0px;
	display: inline-block;
	vertical-align: -20%;
	}

#title {
	padding-top: .45em;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 3em;
	color: #E41B17;
	font-weight: 100;
	}

#subTitle {
	font-size: 1.5em;
	margin-top: .5em;
	margin-bottom: .75em;
	color: #383838;;
}

#headerNav a {
	padding-bottom: .1em;  
	padding-left: 0;
	margin-right: .75em;
	font-size: 1.3em;
	text-decoration: none;
	border-bottom: 2px solid #D8D8D8;
	font-weight: 100;
	}

#mainContent {
  	margin-top: 50px;
  	}

#footer {
	margin-top: 3.4em;
	margin-bottom: 4.5em;
}

#footerNav a {
	padding-left: 0;
	padding-right: .25em;
	text-decoration: none;
	color: #E41B17;
	font-weight: 100;
	}

#copyrightLine {
	color: #D8D8D8;
	font-weight: 100;
	}