body {
	font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
	font-family: 'Shadows Into Light', Arial, sans-serif;
	font-size: 6em;
	text-align: center;
}

h3 {
	font-size: 2em;
	text-align: center;
   font-weight: 300;
}

a {
	color: red;
}

img {
	vertical-align: middle;
}

div { 
	margin: 1.5em;
}

.times {
	font-size: 1.5em;
	padding: 1em;
	border: 1px solid black;
   border-radius: 30px;
	cursor: pointer;
	width: 50%;
	text-align: center;
	margin: .5em auto;
}

.times:hover {
   background-color: rgb(255,0,0);

}

.movies {
   display:block;
}

#timeSelect {
	margin-bottom: 3em;
}

#aboutLink {
	margin-bottom: 3em;
}
