body {
	font-family: 'Open Sans', Arial, sans-serif;
	margin-top: 2em;
	margin-bottom: 2em;
}

h1 {
	font-family: 'Shadows Into Light', Arial, sans-serif;
	font-size: 6em;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
}

h2 {
	font-family: 'Shadows Into Light', Arial, sans-serif;
	font-size: 3em;
	margin-top: 1em;
	text-align: center;
}

h2 #main_subhead {
	font-family: 'Shadows Into Light', Arial, sans-serif;
	font-size: 3em;
	vertical-align: text-top;
	margin-top: 1em;
	margin-left: -4em;
	display: inline-block;
}

h3 {
	font-size: 2em;
	text-align: center;
    font-weight: 300;
    margin-top: 0;
}

p {
	font-size: 1.5em;
	line-height: 1.5em;
	text-align: center;
	margin-bottom: .7em;
	margin-top: 0;
}

a {
	color: red;
}

img {
	vertical-align: middle;
}

#main_header {
	text-align: center;
}

#main_subhead {
	font-family: 'Shadows Into Light', Arial, sans-serif;
	display: inline-block;
	font-size: 3em;
	vertical-align: text-top;
	margin-top: 1em;
	margin-left: -4em;
}

#wImg {
	opacity: 1;
	background-image: url(../img/cropped_slash_redder.jpg);
	background-repeat: no-repeat;	
	background-position: center;
	background-size: contain;
}

#times_contain {
	text-align: center;
}

#timeSelect {
	margin-bottom: 3em;
}

#result_one {
	text-align: left;
}

#aboutLink {
	margin-bottom: 3em;
	font-size: 1.25em;
	margin-left: 1em;
	margin-top: 2em;
}

#about_head {
	margin-bottom: 0;
	display: block;
	color: rgb(232,0,0);
	text-align: center;
	font-size: 4em;
}

#about_subhead {
	font-size: 1.5em;
	margin-top: .2em;
}

#about_body {
	margin-left: 4em;
	margin-right: 4em;
}

.lead {
	font-size: 1.5em;
	margin: .5em 0 0 0;
	color: black;
}

.sub {
	font-size: 1.5em;
	margin: 0;
	opacity: 0;
	font-weight: 100;
	padding: .3em;
}

.times {
	padding: .5em;
	border: 1px solid black;
   	border-radius: 30px;
	cursor: pointer;
	width: 25%;
	height: 5em;
	text-align: center;
	vertical-align: middle;
	margin-top: 1em;
	margin-right: .5em;
  	display: inline-block;
  	color: black;
  	background: linear-gradient(white, white 50%, rgb(232,0,0) 50%, rgb(232,0,0));
  	background-size: 100% 202%;
  	-webkit-transition: all 0.2s ease;
}

.times:hover {
	border: 0px;	
  	background-position: 100% 100%;
}

.times:hover .lead {
	margin: 0;
	color: white;
	display: none;
}

.times:hover .sub {
	color: rgb(192,192,192);
	opacity: 1;
}

.res_container {
	width: 75%;
	margin: 0 auto;
}

.movies {
   	display:block;
   	width: 100%;
   	text-align: center;
   	font-size: 1em;
   	margin: 0;
}

.liveMovies {
	font-size: 1.25em;
	text-align: left;
	line-height: 1.25em;
	margin-bottom: .75em;
}

.about_headers {
	text-align: center;
	font-size: 3em;
	color: rgb(232,0,0);
	margin-bottom: 0;
}

.about_highlights {
	font-family: 'Shadows Into Light', Arial, sans-serif;
	letter-spacing: .1em;
	font-weight: 600;
}

@media (min-width: 561px) and (max-width: 850px) {
	.sub {
		font-size: 1.1em;
		margin: 0;
		opacity: 0;
		font-weight: 100;
		padding: .3em;
	}
}

@media (max-width: 560px) {

	body {
		margin-top: 1em;
	}

	h1 {
		display: block;
		margin-bottom: .5em;
	}

	#main_subhead {
		vertical-align: text-top;
		margin-top: 0;
		margin-left: 0;
		margin-bottom: .5em;
		text-align: center;
	}

	.times {
		padding: 0;
		margin-top: .25em;
		width: 30%;
	}

	.lead {
		font-size: 1.25em;
		margin: .5em 0 0 0;
		color: black;
	}

	.sub {
		font-size: 1em;
		padding: .4em;
		opacity: 0;
		font-weight: 100;
	}

	.res_container {
		width: 75%;
		margin: 0 auto;
	}

	.liveMovies {
		font-size: 1em;
		text-align: left;
		line-height: 1em;
		margin-bottom: .5em;
	}
}


