body {
	font-family: 'Open Sans', Arial, sans-serif;
}
#header {
	text-align: center;

}
#wImg {
	opacity: 1;
	background-image: url(../img/cropped_slash_redder.jpg);
	background-repeat: no-repeat;	
	background-position: center;
	background-size: contain;
}

h1 {
	font-family: 'Shadows Into Light', Arial, sans-serif;
	font-size: 6em;
	display: inline-block;
	vertical-align: middle;
}

h2 {
	font-family: 'Shadows Into Light', Arial, sans-serif;
	display: inline-block;
	font-size: 3em;
	vertical-align: text-top;
	margin-top: 1em;
	margin-left: -4em;
}

/*at smaller screen sizes, get rid of negative left margin
 and text align center on h2(align right might look better*/

h3 {
	font-size: 2em;
	text-align: center;
   font-weight: 300;
}

a {
	color: red;
}

img {
	vertical-align: middle;
}

#timeSelect {
	margin-bottom: 3em;
}
.lead {
	font-size: 1.5em;
	margin: .5em 0 0 0;
}

.sub {
	font-size: 1em;
	margin: 0;
	font-style: italic;
	opacity: 0;
}
#times_contain {
	text-align: center;
}

.times {
	padding: .5em;
	border: 1px solid black;
   	border-radius: 30px;
	cursor: pointer;
	width: 25%;
	height: 5em;
	/*change width at smaller screen sizes, becomes too tall to accomodate sub*/
	text-align: center;
	vertical-align: middle;
	margin: 1em auto;
  	display: inline-block;
  	color: black;
  	background: linear-gradient(white, white 50%, rgb(232,0,0) 50%, rgb(232,0,0));
  	background-size: 100% 202%;
  	-webkit-transition: all 0.2s ease;
  	-webkit-animation: down-bump 0.4s ease;
}

.times:hover {
	border: 0px;	
  background-position: 100% 100%;
  -webkit-animation: up-bump 0.4s ease;
}

.times:hover .lead {
	margin: 0;
	color: white;
}

.times:hover .lead span {
	/*margin: 0;
	color: white;*/
	display: none;
}


.times:hover .sub {
	color: rgb(212,212,212);
	opacity: 1;
}


@-webkit-keyframes up-bump {
  0% { padding-top: 1em; }
  50% { padding-top: .5em; }
  100% { padding-top: 1em; }
}
@-webkit-keyframes down-bump {
  0% { padding-top: 1em; }
  50% { padding-top: 1.5em; }
  100% { padding-top: 1em; }
}


.res_container {
  width: 100%;
  margin: 0;
}

.movies {
   	display:block;
   	width: 100%;
   	text-align: center;
   	font-size: 1em;
   	margin: 0;
}

/*
#result1:hover {
	background-image: url(../img/cropped_slash_redder.jpg);
	background-repeat: no-repeat;	
	background-position: center;
	cursor: pointer;
	background-size: contain;
	font-weight: 700;
}
*/
#aboutLink {
	margin-bottom: 3em;
}
