body {
  margin-top: 2em;
  margin-left: 2em;
}

div {
	width: 200px;
	height: 500px;
	border: 1px solid;
}

button {
  height: 30%;
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;
  font-size: 24px;
}

#traffic-light {
	position: absolute;
	background-color: yellow;
}

.lights {
	position: absolute;
	width: 80%;
	height: 30%;
	margin-left: 10%;
  margin-top: 2.5%;
  border-radius: 90px;
}

#red-light {
	top: 2.5%;
  background-color: red;
}

#yellow-light {
	top: 35%;
  background-color: orange;
}

#green-light {
	top: 67.5%;
  background-color: green;
}

.button-box {
  width: 300px;
  height: 150px;
  background-color: greenyellow;
  position: absolute;
  margin-top: 11em;
  margin-left: 15em;
}

#red-button {
  
}

#yellow-button {
  
}

#green-button {
  
}