div {
	width: 200px;
	height: 500px;
	border: 1px solid;

}

#traffic-light {
	position: absolute;
	background-color: yellow;
	position: middle;
	margin: 0 auto;
}

.lights {
	position: absolute;
	width: 80%;
	height: 30%;
	border: 1px solid;
	margin: 0 auto;
}

#red-light {
	top: 3%;

}

#yellow-light {
	top: 36%;

}

#green-light {
	top: 69%;

}