body {
  margin: 30px;
  background: linear-gradient(rgba(0,2,205,.8), rgba(0,2,205,.2));
  background: -webkit-linear-gradient(rgba(0,2,205,.8), rgba(0,2,205,.2));
  background: -moz-linear-gradient(rgba(0,2,205,.8), rgba(0,2,205,.2));
}

div {
	width: 200px;
	height: 500px;
	border: 1px solid;
}

button {
  height: 25%;
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
  font-size: 26px;
  letter-spacing: 2px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-radius: 5px;
}

.lights {
  position: absolute;
  width: 80%;
  height: 30%;
  margin-left: 10%;
  border-radius: 90px;
}

#traffic-light {
	position: relative;
	background-color: yellow;
  border-radius: 20px;
}

#button-box {
  width: 300px;
  height: 150px;
  background-color: greenyellow;
  position: absolute;
  top: 200px;
  left: 325px;
  border-radius: 5px;
}

#red-light {
	top: 2.5%;
  background-color: red;
}

#yellow-light {
	top: 35%;
  background-color: orange;
}

#green-light {
	top: 67.5%;
  background-color: green;
}

#red-button {
  color: red;
}

#yellow-button {
  color: orange;
}

#green-button {
  color: green;
}